# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\TEST_sck_ppt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
